# Byte-compiled / optimized / DLL files
__pycache__/
waybar/__pycache__/

# My personal config file
config.jsonc

# Ignore the config.example generator
scripts/generate-config-example.sh

# Test files
dummy.*

*-output*.txt
scripts/foo*py

# External
scripts-external
css-external
