{
    "layer": "bottom",
    "position": "top",
    "height": 31,
    "spacing": 5,

    /*
        To find a nerd font available on your system, type the following and use one of them
        % fc-list| grep Nerd
    */
    "font": "Arimo Nerd Font 12",

    "modules-left": [
        "sway/workspaces",
        "sway/mode"
    ],
    "modules-center": [
        "sway/window"
    ],

    "modules-right": [
        "custom/network-throughput-wlo1",
        "custom/wifi-status-wlo1",
        // "custom/speedtest",
        "custom/filesystem-usage-root",
        "custom/filesystem-usage-work",
        "custom/memory-usage",
        "custom/cpu-usage",
        "custom/swap-usage",
        "custom/system-updates-dnf",
        "custom/system-updates-flatpak",
        "custom/weather-san-diego"
        // "pulseaudio"
    ],

    "sway/mode": {
        "format": "{}"
    },

    "sway/window": {
        "format": "{title}"
    },

    "pulseaudio": {
        "format": "{icon} {volume}%",
        "format-icons": {
            "default": [
                "\uf026",
                "\uf027",
                "\uf028"
            ]
        },
        "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
        "on-click-right": "pavucontrol",
        "format-muted": "\uf00d {volume}%"
    },

    /*
        Custom module definitions
    */
    
    /* CPU Usage */
    "custom/cpu-usage": {
        "exec": "~/.config/waybar/scripts/cpu-usage.py",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/cpu-usage.py --toggle"
    },

    /* Filesystem Usage */
    "custom/filesystem-usage-root": {
        "exec": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint / --label root --unit auto",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint / --label root --unit auto --toggle"
    },

    "custom/filesystem-usage-work": {
        "exec": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint /work --label work --unit auto",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint /work --label work --unit auto --toggle"
    },

    /* Memory Usage */
    "custom/memory-usage": {
        "exec": "~/.config/waybar/scripts/memory-usage.py",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/memory-usage.py --toggle"
    },

    /* Network Throughput */
    "custom/network-throughput-wlo1": {
        "exec": "~/.config/waybar/scripts/network-throughput.py --interface wlo1",
        "interval": 2,
        "return-type": "json"
    },

    /* Speedtest */
    "custom/speedtest": {
        "exec": "~/.config/waybar/scripts/speedtest.sh",
        "interval": "once",
        "return-type": "json"
    },

    /* Swap Usage */
    "custom/swap-usage": {
        "exec": "~/.config/waybar/scripts/swap-usage.py",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/swap-usage.py --toggle"
    },

    /* System Updates */
    "custom/system-updates-dnf": {
        "exec": "~/.config/waybar/scripts/system-updates.py run --type dnf",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/system-updates.py run --type dnf"
    },

    "custom/system-updates-flatpak": {
        "exec": "~/.config/waybar/scripts/system-updates.py run --type flatpak",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/system-updates.py run --type flatpak"
    },

    /* Weather */
    "custom/weather-san-diego": {
        "exec": "~/.config/waybar/scripts/weather.py run --api-key <your_weather_api_key> --location 'San Diego, CA, US' --label san-diego",
        "interval": 300,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/weather.py run --api-key <your_weather_api_key> --location 'San Diego, CA, US' --label san-diego --toggle",
        "on-click-right": "~/.config/waybar/scripts/weather.py run --api-key <your_weather_api_key> --location 'San Diego, CA, US' --label san-diego"
    },

    /* WiFi Status */
    "custom/wifi-status-wlo1": {
        "exec": "~/.config/waybar/scripts/wifi-status.py run --interface wlo1",
        "interval": 5,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/wifi-status.py run --interface wlo1 --toggle"
    }
}
