{
    "layer": "bottom",
    "position": "top",
    "height": 31,
    "spacing": 5,

    /*
        To find a nerd font available on your system, type the following and use one of them
        % fc-list| grep Nerd
    */
    "font": "Arimo Nerd Font 12",

    "modules-right": [
        // "custom/network-throughput-enp1s0",
        "custom/network-throughput-wlo1",
        "custom/wifi-status-wlo1",
        "custom/speedtest",
        "custom/filesystem-usage-root",
        "custom/filesystem-usage-work",
        "custom/memory-usage",
        "custom/cpu-usage",
        // "custom/swap-usage",
        // "custom/software-updates-brew",
        "custom/software-updates-dnf",
        "custom/software-updates-flatpak",
        // "custom/software-updates-snap",
        "custom/weather-san-diego"
    ],

    /*
        Custom module definitions
    */
    
    /* CPU Usage */
    "custom/cpu-usage": {
        "exec": "~/.config/waybar/scripts/cpu-usage.py",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/cpu-usage.py --toggle"
    },

    /* Filesystem Usage */
    // https://github.com/Alexays/Waybar/wiki/Configuration#multiple-instances-of-a-module
    "custom/filesystem-usage-root": {
        "exec": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint / --label root --unit auto",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint / --label root --unit auto --toggle"
    },

    "custom/filesystem-usage-work": {
        "exec": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint /work --label work --unit auto",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/filesystem-usage.py --mountpoint /work --label work --unit auto --toggle"
    },

    /* Memory Usage */
    "custom/memory-usage": {
        "exec": "~/.config/waybar/scripts/memory-usage.py",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/memory-usage.py --toggle"
    },

    /* Network Throughput */
    "custom/network-throughput-enp1s0": {
        "exec": "~/.config/waybar/scripts/network-throughput.py --interface enp1s0",
        "interval": 2,
        "return-type": "json"
    },

    "custom/network-throughput-wlo1": {
        "exec": "~/.config/waybar/scripts/network-throughput.py --interface wlo1",
        "interval": 2,
        "return-type": "json"
    },

    /* Speedtest */
    "custom/speedtest": {
        "format": "{}",
        "return-type": "json",
        "exec": "~/.config/waybar/scripts/waybar-speedtest.py --interval 600",
        "on-click": "kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/waybar-speedtest.py --interval 600')"
    },

    /* Swap Usage */
    "custom/swap-usage": {
        "exec": "~/.config/waybar/scripts/swap-usage.py",
        "interval": 10,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/swap-usage.py --toggle"
    },

    /* System Updates */
    "custom/software-updates-brew": {
        "format": "{}",
        "return-type": "json",
        "exec": "~/.config/waybar/scripts/software-updates.py --type brew --interval 1800",
        "on-click": "kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/software-updates.py --type brew --interval 1800')"
    },

    "custom/software-updates-dnf": {
        "format": "{}",
        "return-type": "json",
        "exec": "~/.config/waybar/scripts/software-updates.py --type dnf --interval 1800",
        "on-click": "kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/software-updates.py --type dnf --interval 1800')"
    },

    "custom/software-updates-flatpak": {
        "format": "{}",
        "return-type": "json",
        "exec": "~/.config/waybar/scripts/software-updates.py --type flatpak --interval 1800",
        "on-click": "kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/software-updates.py --type flatpak --interval 1800')"
    },

    "custom/software-updates-snap": {
        "format": "{}",
        "return-type": "json",
        "exec": "~/.config/waybar/scripts/software-updates.py --type snap --interval 1800",
        "on-click": "kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/software-updates.py --type snap --interval 1800')"
    },

    /* Weather
        on-click toggles the mode and refreshes
        on-click-right refreshes the current mode
    */
    "custom/weather-san-diego": {
        "format" : "{}",
        "return-type": "json",
        "exec": "~/.config/waybar/scripts/weather.py run --api-key asdf --location 'San Diego, CA, US' --label san-diego --interval 300",
        "on-click": "~/.config/waybar/scripts/weather.py toggle --label san-diego && kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/weather.py run --api-key asdf --location San Diego, CA, US --label san-diego --interval 300')",
        "on-click-right": "kill -HUP $(pgrep -f 'python3 /home/gdanko/.config/waybar/scripts/weather.py run --api-key asdf --location San Diego, CA, US --label san-diego --interval 300')"

    },

    /* WiFi Status */
    "custom/wifi-status-wlo1": {
        "exec": "~/.config/waybar/scripts/wifi-status.py run --interface wlo1",
        "interval": 5,
        "return-type": "json",
        "on-click": "~/.config/waybar/scripts/wifi-status.py run --interface wlo1 --toggle"
    }
}
