/* https://docs.gtk.org/gtk3/css-properties.html */

* {
    font-family: "Arimo Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-stretch: condensed;
    font-weight: normal;
    font-size: 9pt;
}

window#waybar {
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.3);
}

tooltip {
    background: rgba(0, 0, 0, 0.4);
}

tooltip label {
    color: white;
    font-family: "Noto Sans Mono", monospace;
    font-size: 12px;
    font-stretch: semi-condensed;
    font-weight: 400;
}

/* ---------- Common Styles ---------- */
/* Applies to all modules to avoid repetition */
#custom-cpu-usage,
#custom-disk-consumers,
#custom-dropbox-status,
#custom-filesystem-usage,
#custom-memory-usage,
#custom-network-throughput,
#custom-nothing,
#custom-plex-status,
#custom-quakes,
#custom-software-updates,
#custom-speedtest,
#custom-weather,
#custom-wifi-status {
    background: transparent;
    border-radius: 6px;
    color: #ffffff;
    padding: 4px 6px; /* top right bottom left */
}

/* Common style for loading */
#custom-filesystem-usage.loading,
#custom-disk-consumers.loading,
#custom-network-throughput.loading,
#custom-quakes.loading,
#custom-software-updates.loading,
#custom-speedtest.loading,
#custom-weather.loading,
#custom-wifi-status.loading {
    color: #adadad;
}

/* Common style for error */
#custom-cpu-usage.error,
#custom-disk-consumers.error,
#custom-dropbox-status.error,
#custom-filesystem-usage.error,
#custom-memory-usage.error,
#custom-network-throughput.error,
#custom-plex-status.error,
#custom-quakes.error,
#custom-software-updates.error,
#custom-speedtest.error,
#custom-weather.error,
#custom-wifi-status.error {
    color: #ffb8b8;
}

/* Display the quakes icon to the left of the text */
#custom-quakes {
    background-image: url("/home/gdanko/.config/waybar/images/quake.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

#custom-quakes.loading {
    background-image: none;
    padding-left: 12px;
}
