/* https://docs.gtk.org/gtk3/css-properties.html */

*{
    font-family: "Arimo Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-stretch: condensed;
    font-weight: normal;
    font-size: 9.0pt;
}

window#waybar {
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.3);
}

tooltip {
    background: rgba(0, 0, 0, 0.4);
}

tooltip label {
    color: white;
    font-family: "Noto Sans Mono", monospace;
    font-size: 12px;
    font-stretch: semi-condensed;
    font-weight: 400;
}

/* ---------- Common Styles ---------- */
/* Applies to all modules to avoid repetition */
#custom-cpu-usage,
#custom-filesystem-usage-root,
#custom-filesystem-usage-work,
#custom-memory-usage,
#custom-network-throughput-enp1s0,
#custom-network-throughput-wlo1,
#custom-plex-status,
#custom-quakes,
#custom-speedtest,
#custom-swap-usage,
#custom-software-updates-apk,
#custom-software-updates-apt,
#custom-software-updates-brew,
#custom-software-updates-dnf,
#custom-software-updates-emerge,
#custom-software-updates-mintupdate,
#custom-software-updates-pacman,
#custom-software-updates-snap,
#custom-software-updates-xbps,
#custom-software-updates-yay,
#custom-software-updates-yay-aur,
#custom-weather-san-diego,
#custom-wifi-status-wlo1 {
    background: transparent;
    border-radius: 6px;
    color: #ffffff;
    padding: 4px 6px; /* top right bottom left */
}

/* Common style for loading */
#custom-filesystem-usage-root.loading,
#custom-filesystem-usage-work.loading,
#custom-quakes.loading,
#custom-speedtest.loading,
#custom-software-updates-apk.loading,
#custom-software-updates-apt.loading,
#custom-software-updates-brew.loading,
#custom-software-updates-dnf.loading,
#custom-software-updates-emerge.loading,
#custom-software-updates-mintupdate.loading,
#custom-software-updates-pacman.loading,
#custom-software-updates-snap.loading,
#custom-software-updates-xbps.loading,
#custom-software-updates-yay.loading,
#custom-software-updates-yay-aur.loading,
#custom-weather-san-diego.loading {
    color: #adadad;
}

/* Common style for error */
#custom-cpu-usage.error,
#custom-filesystem-usage-root.error,
#custom-filesystem-usage-work.error,
#custom-memory-usage.error,
#custom-network-throughput-enp1s0.error,
#custom-network-throughput-wlo1.error,
#custom-plex-status.error,
#custom.quakes.error,
#custom-speedtest.error,
#custom-swap-usage.error,
#custom-software-updates-apk.error,
#custom-software-updates-apt.error,
#custom-software-updates-brew.error,
#custom-software-updates-dnf.error,
#custom-software-updates-emerge.error,
#custom-software-updates-mintupdate.error,
#custom-software-updates-pacman.error,
#custom-software-updates-snap.error,
#custom-software-updates-xbps.error,
#custom-software-updates-yay.error,
#custom-software-updates-yay-aur.error,
#custom-weather-san-diego.error,
#custom-wifi-status-wlo1.error {
    color: #ffb8b8;
}

/* Display the quakes icon to the left of the text */
#custom-quakes {
    background-image: url("/home/gdanko/.config/waybar/images/quake.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

#custom-quakes.loading {
    background-image: none;
    padding-left: 12px;
}
