{
    "layer": "{{ layer }}",
    "position": "{{ position }}",
    "height": {{ height }},
    "spacing": {{ spacing }},

    "font": "{{ font }}",

    "modules-right": {{ modules_right | tojson(indent=4) | indent(4) }},

    {% if cpu_usage.enabled == true %}
    "custom/cpu-usage": {
        "exec": "{{ scripts_path }}/cpu-usage.py",
        "interval": {{ cpu_usage.get("interval", 10) if cpu_usage is defined else 10 }},
        "return-type": "json",
        "on-click": "{{ scripts_path }}/cpu-usage.py --toggle"
    },
    {% endif %}

    {% for fs in filesystems %}
    {% if fs.enabled == true %}
    "custom/filesystem-usage-{{ fs.label }}": {
        "exec": "{{ scripts_path }}/filesystem-usage.py --mountpoint {{ fs.mountpoint }} --label {{ fs.label }} --unit {{ (fs.unit if fs.unit else none) or auto }}",
        "interval": {{ fs.get("interval", 10) if fs is defined else 10 }},
        "return-type": "json",
        "on-click": "{{ scripts_path }}/filesystem-usage.py --mountpoint {{ fs.mountpoint }} --label {{ fs.label }} --unit {{ (fs.unit if fs.unit else none) or auto }} --toggle"
    },
    {% endif %}
    {% endfor %}

    {% if memory_usage.enabled == true %}
    "custom/memory-usage": {
        "exec": "{{ scripts_path }}/memory-usage.py --unit {{ memory_usage.get("unit", "auto") if memory_usage is defined else "auto" }}",
        "interval": {{ memory_usage.get("interval", 10) if memory_usage is defined else 10 }},
        "return-type": "json",
        "on-click": "{{ scripts_path }}/memory-usage.py --unit {{ memory_usage.get("unit", "auto") if memory_usage is defined else "auto" }} --toggle"
    },
    {% endif %}

    {% for iface in network_interfaces %}
    {% if iface.enabled %}
    "custom/network-throughput-{{ iface.name }}": {
        "exec": "{{ scripts_path }}/network-throughput.py --interface {{ iface.name }}",
        "interval": {{ iface.get("interval", 10) if iface is defined else 10 }},
        "return-type": "json"
    },
    {% endif %}
    {% endfor %}

    {% if plex_status.enabled == true %}
    "custom/plex-status": {
        "exec": "{{ scripts_path }}/plex-status.py --ip {{ plex_status.get("ip", "127.0.0.1") if plex_status is defined else "127.0.0.1" }} --port {{ plex_status.get("port", 32400) if plex_status is defined else 32400 }}",
        "interval": {{ plex_status.get("interval", 10) if plex_status is defined else 10 }},
        "return-type": "json",
        "on-click": "{{ scripts_path }}/plex-status.py --ip {{ plex_status.get("ip", "127.0.0.1") if plex_status is defined else "127.0.0.1" }} --port {{ plex_status.get("port", 32400) if plex_status is defined else 32400 }}"
    },
    {% endif %}

    {% if speedtest.enabled == true %}
    "custom/speedtest": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/speedtest.py --interval {{ speedtest.get("interval", 300) if speedtest is defined else 300 }}",
        "on-click": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/speedtest.py --interval {{ speedtest.get("interval", 300) if speedtest is defined else 300 }}')"
    },
    {% endif %}

    {% if swap_usage.enabled == true %}
    "custom/swap-usage": {
        "exec": "{{ scripts_path }}/swap-usage.py --unit {{ swap_usage.get("unit", "auto") if swap_usage is defined else "auto" }}",
        "interval": {{ swap_usage.get("interval", 10) if swap_usage is defined else 10 }},
        "return-type": "json",
        "on-click": "{{ scripts_path }}/swap-usage.py --unit {{ swap_usage.get("unit", "auto") if swap_usage is defined else "auto" }} --toggle"
    },
    {% endif %}

    {% for s in software_updates %}
    {% if s.enabled %}
    "custom/software-updates-{{ s.type }}": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/software-updates.py --type {{ s.type }} --interval {{ s.get("interval", 1800) if s is defined else 1800 }}",
        "on-click": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/software-updates.py --type {{ s.type }} --interval {{ s.get("interval", 1800) if s is defined else 1800 }}')"
    },
    {% endif %}
    {% endfor %}

    {% for iface in network_interfaces %}
    {% if iface.type == 'wifi' and iface.enabled %}
    "custom/wifi-status-{{ iface.name }}": {
        "exec": "{{ scripts_path }}/wifi-status.py run --interface {{ iface.name }}",
        "interval": {{ iface.get("interval", 10) if iface is defined else 10 }},
        "return-type": "json",
        "on-click": "{{ scripts_path }}/wifi-status.py run --interface {{ iface.name }} --toggle"
    },
    {% endif %}
    {% endfor %}

    {% for location in weather.locations %}
    {% if location.enabled %}
    "custom/weather-{{ location.label }}": {
        "format" : "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/weather.py run --api-key {{ weather.api_key }} --location '{{ location.location}}' --label {{ location.label }} --interval {{ location.get("interval", 300) if location is defined else 300 }}",
        "on-click": "{{ scripts_path }}/weather.py toggle --label {{ location.label }} && kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/weather.py run --api-key {{ weather.api_key }} --location {{ location.location}} --label {{ location.label }} --interval {{ location.get("interval", 300) if location is defined else 300 }}')",
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/weather.py run --api-key {{ weather.api_key }} --location {{ location.location}} --label {{ location.label }} --interval {{ location.get("interval", 300) if location is defined else 300 }}')"
    },
    {% endif %}
    {% endfor %}
    "custom/nothing": {
        "exec": "cat /dev/null"
    }
}
