{
    "layer": "{{ layer }}",
    "position": "{{ position }}",
    "height": "{{ height }}",
    "spacing": "{{ spacing }}",
    "exclusive": {{ ("true" if exclusive is not none) or "false" }},

    "modules-right": {{ modules_right | tojson(indent=4) | indent(4) }},

    {% if cpu_usage.enabled == true %}
    "custom/cpu-usage": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/cpu-usage.py",
        "interval": {{ cpu_usage.interval if cpu_usage is defined else 10 }}
    },
    {% endif %}

    {% if dc.enabled == true and (dc.paths|length > 0) %}
    "custom/disk-consumers": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/disk-consumers.py {% for p in dc.paths %}--path '{{ p }}' {% endfor %}--interval {{ dc.interval if dc is defined else 10 }} --unit {{ (dc.unit if dc.unit else "auto") or "auto" }}{{ " --show-stats" if dc.show_stats and dc.show_stats == true}}{{ " --debug" if dc.debug and dc.debug == true}}",
        {% if dc.paths|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/disk-consumers.py {% for p in dc.paths %}--path {{ p }} {% endfor %}--interval {{ dc.interval if dc is defined else 10 }} --unit {{ (dc.unit if dc.unit else "auto") or "auto" }}')",
        {% endif %}
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/disk-consumers.py {% for p in dc.paths %}--path {{ p }} {% endfor %}--interval {{ dc.interval if dc is defined else 10 }} --unit {{ (dc.unit if dc.unit else "auto") or "auto" }}')"
    },
    {% endif %}

    {% if dropbox_status.enabled == true %}
    "custom/dropbox-status": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/dropbox-status.py",
        "interval": {{ dropbox_status.interval if dropbox_status is defined else 3 }}
    },
    {% endif %}

    {% if fs.enabled == true and (fs.mountpoints|length > 0) %}
    "custom/filesystem-usage": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/filesystem-usage.py {% for m in fs.mountpoints %}--mountpoint {{ m }} {% endfor %}--interval {{ fs.interval if fs is defined else 10 }} --unit {{ (fs.unit if fs.unit else "auto") or "auto" }}{{ " --show-stats" if fs.show_stats and fs.show_stats == true}}{{ " --debug" if fs.debug and fs.debug == true}}",
        {% if fs.mountpoints|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/filesystem-usage.py {% for m in fs.mountpoints %}--mountpoint {{ m }} {% endfor %}--interval {{ fs.interval if fs is defined else 10 }} --unit {{ (fs.unit if fs.unit else "auto") or "auto" }}{{ " --show-stats" if fs.show_stats and fs.show_stats == true}}{{ " --debug" if fs.debug and fs.debug == true}}')",
        {% endif %}
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/filesystem-usage.py {% for m in fs.mountpoints %}--mountpoint {{ m }} {% endfor %}--interval {{ fs.interval if fs is defined else 10 }} --unit {{ (fs.unit if fs.unit else "auto") or "auto" }}{{ " --show-stats" if fs.show_stats and fs.show_stats == true}}{{ " --debug" if fs.debug and fs.debug == true}}')"
    },
    {% endif %}

    {% if memory_usage.enabled == true %}
    "custom/memory-usage": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/memory-usage.py --unit {{ memory_usage.unit if memory_usage is defined else "auto" }}",
        "interval": {{ memory_usage.interval if memory_usage is defined else 10 }}
    },
    {% endif %}

    {% if nt.enabled and (nt.interfaces|length > 0) %}
    "custom/network-throughput": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/network-throughput.py {% for i in nt.interfaces %}--interface {{ i }} {% endfor %}--interval {{ nt.interval if nt is defined else 10 }}"{% if nt.interfaces|length > 1 %},{% endif %}
        {% if nt.interfaces|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/network-throughput.py {% for i in nt.interfaces %}--interface {{ i }} {% endfor %}--interval {{ nt.interval or 10 if nt is defined else 10 }}')"
        {% endif %}
    },
    {% endif %}

    {% if plex_status.enabled == true %}
    "custom/plex-status": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/plex-status.py --ip {{ plex_status.ip if plex_status is defined else "127.0.0.1" }} --port {{ plex_status.port if plex_status is defined else 32400 }} --token '{{ plex_status.api_key if plex_status.api_key else none}}'",
        "interval": {{ plex_status.interval if plex_status is defined else 10 }},
        "on-click-right": "{{ scripts_path }}/plex-status.py --ip {{ plex_status.ip if plex_status is defined else "127.0.0.1" }} --port {{ plex_status.port if plex_status is defined else 32400 }} --token '{{ plex_status.api_key if plex_status.api_key else none}}'"
    },
    {% endif %}

    {% if quakes.enabled %}
    "custom/quakes": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/quakes.py --interval {{ quakes.interval if quakes is defined else 1800 }} --radius {{ quakes.radius if quakes is defined else "100m" }} --limit {{ quakes.limit if quakes is defined else 20 }} --magnitude {{ quakes.magnitude if quakes is defined else 0.1 }}",
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/quakes.py --interval {{ quakes.interval if quakes is defined else 1800 }} --radius {{ quakes.radius if quakes is defined else "100m" }} --limit {{ quakes.limit if quakes is defined else 20 }} --magnitude {{ quakes.magnitude if quakes is defined else 0.1 }}')"
    },
    {% endif %}

    {% if stock_quotes.enabled %}
    "custom/stock-quotes": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/stock-quotes.py {% for s in stock_quotes.symbols %}--symbol '{{ s }}' {% endfor %}--interval {{ stock_quotes.interval if stock_quotes is defined else 900 }}",
        {% if weather.locations|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/stock-quotes.py {% for s in stock_quotes.symbols %}--symbol {{ s }} {% endfor %}--interval {{ stock_quotes.interval if stock_quotes is defined else 900 }}')",
        {% endif %}
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/stock-quotes.py {% for s in stock_quotes.symbols %}--symbol {{ s }} {% endfor %}--interval {{ stock_quotes.interval if stock_quotes is defined else 900 }}')"
    },
    {% endif %}

    {% if su.enabled and (su.package_types|length > 0) %}
    "custom/software-updates": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/software-updates.py {% for p in su.package_types %}--package-type {{ p }} {% endfor %}--interval {{ su.interval if su is defined else 1800 }}",
        {% if su.package_types|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/software-updates.py {% for p in su.package_types %}--package-type {{ p }} {% endfor %}--interval {{ su.interval if s is defined else 1800 }}')",
        {% endif %}
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/software-updates.py {% for p in su.package_types %}--package-type {{ p }} {% endfor %}--interval {{ su.interval if s is defined else 1800 }}')"
    },
    {% endif %}

    {% if speedtest.enabled == true %}
    "custom/speedtest": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/speedtest.py --interval {{ speedtest.interval if speedtest is defined else 300 }}",
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/speedtest.py --interval {{ speedtest.interval if speedtest is defined else 300 }}')"
    },
    {% endif %}

    {% if weather.enabled and (weather.locations|length > 0) %}
    "custom/weather": {
        "format" : "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/weather.py --api-key {{ weather.api_key }} {% for l in weather.locations %}--location '{{ l }}' {% endfor %}--interval {{ weather.interval if weather is defined else 300 }}",
        {% if weather.locations|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/weather.py --api-key {{ weather.api_key }} {% for l in weather.locations %}--location {{ l }} {% endfor %}--interval {{ weather.interval if weather is defined else 300 }}')",
        {% endif %}
        "on-click-right": "kill -HUP $(pgrep -f 'python3 {{ scripts_path }}/weather.py --api-key {{ weather.api_key }} {% for l in weather.locations %}--location {{ l }} {% endfor %}--interval {{ weather.interval if weather is defined else 300 }}')"
    },
    {% endif %}

    {% if wifi.enabled and (wifi.interfaces|length > 0) %}
    "custom/wifi-status": {
        "format": "{}",
        "return-type": "json",
        "exec": "{{ scripts_path }}/wifi-status.py {% for i in wifi.interfaces %}--interface {{ i }} {% endfor %}--interval {{ wifi.interval if wifi is defined else 10 }}"{% if wifi.interfaces|length > 1 %},{% endif %}
        {% if wifi.interfaces|length > 1 %}
            "on-click": "kill -USR1 $(pgrep -f 'python3 {{ scripts_path }}/wifi-status.py {% for i in wifi.interfaces %}--interface {{ i }} {% endfor %}--interval {{ wifi.interval if wifi is defined else 10 }}')"
        {% endif %}
    },
    {% endif %}

    "custom/nothing": {
        "exec": "echo ' '"
    }
}
